<div class="grid_16">
  <h1 id="branding">
    <a href="./">Fluid 960 Grid System</a>
  </h1>
</div>
<div class="clear"></div>
<div class="grid_16">
  <ul class="nav main">
    <li>
      <a href="960/">Fixed 12-column</a>
    </li>
    <li>
      <a href="12/">Fluid 12-column</a>
    </li>
    <li>
      <a href="16/">Fluid 16-column</a>
    </li>
    <li>
      <a href="http://beta.overture21.com/forum/comments.php?DiscussionID=231">Download Files</a>
    </li>
    <li class="secondary">
      <a href="http://960.gs/" title="960.gs | A CSS grid system developed by Nathan Smith">The 960 Grid System</a>
    </li>
  </ul>
</div>
<div class="clear"></div>
<div class="grid_16">
  <h2 id="page-heading">Templates for Rapid Interactive Prototyping</h2>
</div>
<div class="clear"></div>

<div class="grid_4">
  <div class="box">
    <h2>Design Process</h2>
    <div class="block">
      <p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future. Design is about life &mdash; past, present and future &mdash; and the learning process that happens between birth and death. It is about community and shared knowledge and experience. It is the passion to build on what we've learned to create something better.</p>
    </div>
  </div>
</div>
<div class="grid_4">
  <div class="box">
    <h2>Design Influences</h2>
    <div class="block">
      <p>The words "design influences" can be understood as both a plural noun and as subject and verb. The plural noun speaks of those who have come before us and paved the way. The verb speaks of the responsibility of design to lead the way. By understanding where we have come from, we have a better idea of where we are going and, perhaps, where we should be heading.</p>
    </div>
  </div>
</div>
<div class="grid_4">
  <div class="box">
    <h2>Inspiration</h2>
    <div class="block">
      <p>I have been inspired by the work of many who have pioneered advances in Web Standards, including 
        <a href="http://www.31three.com/" title="www.31three.com">Jesse Bennett-Chamberlain</a>, 
        <a href="http://www.stopdesign.com/" title="www.stopdesign.com">Douglas Bowman</a>, 
        <a href="http://www.chaoticpattern.com/" title="www.chaoticpattern.com">Allen Chang</a>, 
        <a href="http://www.stuffandnonsense.co.uk/" title="www.stuffandnonsense.co.uk">Andy Clarke</a>, 
        <a href="http://www.hicksdesign.co.uk/" title="www.hicksdesign.co.uk">Jon Hicks</a>, 
        <a href="http://www.shauninman.com/" title="www.shauninman.com">Shaun Inman</a>, 
        <a href="http://www.cameronmoll.com/" title="www.cameronmoll.com">Cameron Moll</a>, 
        <a href="http://veerle.duoh.com/" title="veerle.duoh.com">Veerle Pieters</a>, 
        <a href="http://www.jasonsantamaria.com/" title="www.jasonsantamaria.com">Jason Santa Maria</a>, 
        <a href="http://www.mezzoblue.com/" title="www.mezzoblue.com">Dave Shea</a>, 
        <a href="http://www.thebignoob.com/" title="www.thebignoob.com">Ryan Sims</a>, 
        <a href="http://www.sonspring.com/" title="www.sonspring.com">Nathan Smith</a>, and 
        <a href="http://www.zeldman.com/" title="www.zeldman.com">Jeffrey Zeldman</a>, 
        to name a few. Thank you for inspiring <a href="http://www.domain7.com/WhoWeAre/StephenBau.html" title="Stephen Bau, Designer, Domain7">me</a> to give something back.</p>
    </div>
  </div>
</div>
<div class="grid_4">
  <div class="box">
    <h2>Contribution</h2>
    <div class="block">
      <p>The <a href="/fluid960gs/">Fluid 960 Grid System</a> templates have been built upon the work of Nathan Smith and his <a href="http://960.gs/">960 Grid System</a> using effects from the <a href="http://www.mootools.net/">Mootools</a> JavaScript library. The idea for building these templates was inspired by Andy Clarke, author of <a href="http://www.transcendingcss.com/">Transcending CSS</a>, who advocates a content-out approach to rapid interactive prototyping, crediting Jason Santa Maria with the <a href="http://www.jasonsantamaria.com/archive/2004/05/24/grey_box_method.php">grey box method</a>.</p>
    </div>
  </div>
</div>